.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(90deg, #FCE95E 5%, #2f2f2f 30% 100%);
  cursor: pointer;
  @media screen and (max-width: 700px) {
    background: #2f2f2f;
  }
}

.icon {
  height: 30px;
}

.name {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  @media screen and (max-width: 700px) {
    color: #ffffff;
  }
}

.members {
  display: flex;
  justify-content: center;
  gap: 10px;
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.members_names {
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}